# COMS W4111 Introduction to Databases
# Homework 2: Implement a Simple Database Engine (Programming)

### YOUR NAME HERE
### YOUR UNI HERE

## Part 1: Written & SQL

### Written 
Please keep your answers brief.

1. Codd's Fourth Rule states that: The data base description is represented at the logical level in the same way as ordinary data, so that authorized users can apply the same relational language to its interrogation as they apply to the regular data. In two sentences please explain this rule and why it is so important.
   

2. Give 3 examples of what would be stored in a databsae catalog
    

3. What is the SQL database catalog called?

4. What is the overall goal of indicies in SQL?
 
    

5. What are the differences between a primary key and a unique index?

6. Which SELECT statement is more efficient? Why? 

- <code> SELECT playerID,birthState,nameLast,nameFirst FROM people 
where birthCountry = 'USA' and nameFirst = 'John' and playerID in (select playerID from collegeplaying where schoolID = 'Fordham'); </code>


- <code> SELECT playerID,birthState,nameLast,nameFirst FROM people NATURAL JOIN collegeplaying 
where birthCountry = 'USA' and nameFirst = 'John' and schoolID = 'Fordham' group by playerID,birthState,nameLast,nameFirst; </code>

HINT: SQL uses a query optimizer so you can't just run both of these and see which one performs faster.

7. The create.sql file provided in the zip folder makes a schema and some tables that mimics metadata tables. Note there is the sytax "ON DELETE CASCADE" after the foreign key creation. What does this mean? Why do we want to specify CASCADE for the metadata tables? What does "ON DELETE RESTRICT" mean and when would we generally want to use this?

### SQL

In [22]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost/dbname

#### 1. Initials

- Find the ```initials, firstName, lastName```, for every player.

- You need to return 10 rows.

- Note: Even for those players with two last names, just return the first letter of their first last name

<u>Answer:</u>

In [ ]:
%%sql

In [5]:
%%sql

 * mysql+pymysql://dbuser:***@localhost/lahman2019clean
10 rows affected.

[('DA', 'David', 'Aardsma'),
 ('HA', 'Hank', 'Aaron'),
 ('TA', 'Tommie', 'Aaron'),
 ('DA', 'Don', 'Aase'),
 ('AA', 'Andy', 'Abad'),
 ('FA', 'Fernando', 'Abad'),
 ('JA', 'John', 'Abadie'),
 ('EA', 'Ed', 'Abbaticchio'),
 ('BA', 'Bert', 'Abbey'),
 ('CA', 'Charlie', 'Abbey')]

#### 2. Games Per Player

- Find the ```yearID, lgID, games_per_player```, for every year and league.

- Use a function to round down to the nearest integer the average games_per_player

- You need to return 10 rows.

- YOU MAY NOT USE ```GROUP BY```! A statement using ```group by``` will receive 0. 

<u>Answer:</u>

In [ ]:
%%sql

In [17]:
%%sql

 * mysql+pymysql://dbuser:***@localhost/lahman2019clean
10 rows affected.

[('2018', 'NL', 46.0),
 ('2018', 'AL', 45.0),
 ('2017', 'NL', 47.0),
 ('2017', 'AL', 45.0),
 ('2016', 'NL', 47.0),
 ('2016', 'AL', 47.0),
 ('2015', 'NL', 47.0),
 ('2015', 'AL', 47.0),
 ('2014', 'NL', 48.0),
 ('2014', 'AL', 46.0)]

## Part 2: CSVCatalog Tests

Once you have tested everything successfuly in python, execute your tests one more time in jupyter notebook to show the expected output. You will need to restart your kernel after saving your python files so that jupyter will use the most recent version of your work. 

You may need to drop tables before executing your tests one last time so you don't run into integrity errors

In [5]:
import unit_test_catalog as cat # This notebook should be in the same directory as your project

In [ ]:
cat.create_table_test()

In [ ]:
cat.drop_table_test()

In [ ]:
cat.add_column_test()

In [ ]:
cat.column_name_failure_test()  # This will throw an error

In [ ]:
cat.column_type_failure_test()  # This will throw an error

In [ ]:
cat.column_not_null_failure_test()  # This will throw an error

In [ ]:
cat.add_index_test()

In [ ]:
cat.col_drop_test()

In [ ]:
cat.index_drop_test()

In [ ]:
cat.describe_table_test()

## Part 3: CSVTable Tests

In the event that the data sent is too large, jupyter notebook will throw a warning and not print any output. This will happen when you try to retrieve an entire table. Don't worry about getting the output if this happens. 

Additonally, the table formatting will get messed up if the columns makes the output too wide. In your tests make sure you project fields so that your outputs are legible.

In [1]:
import unit_test_csv_table as tab

In [ ]:
# Drop the tables if you already made them when testing
tab.drop_tables_for_prep()

In [ ]:
tab.create_lahman_tables()

In [ ]:
tab.update_people_columns()

In [ ]:
tab.update_appearances_columns()

In [ ]:
tab.update_batting_columns()

In [ ]:
tab.add_index_definitions()

In [ ]:
tab.test_load_info()

In [ ]:
tab.test_get_col_names()

In [ ]:
tab.add_other_indexes()

In [ ]:
# This should throw an error
# Make sure it works properly when you run it in pycharm though!
tab.load_test()

In [ ]:
# Might throw an error depending on table size
# Make sure it works properly when you run it in pycharm though!
tab.dumb_join_test()

In [ ]:
tab.get_access_path_test()

In [ ]:
tab.sub_where_template_test()

In [ ]:
tab.test_find_by_template_index()

In [ ]:
tab.smart_join_test()

In [3]:
# Compare the time it takes to do the dumb join and the smart join below
%time #This is a timer that will track how long it takes to execute your cell. 

# Times will vary based on how long it takes to query your AWS Server, but you should see a notable improvement using smart_join()

#----Your Code Here----

Wall time: 0 ns